/* 
    Document   : custom
    Created on : 26 mai 2013, 19:02:08
    Author     : dominique
    Description:
        Purpose of the stylesheet follows.
*/

.dbd-scroll { 
    overflow: auto;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}
.dbd-no-scoll{
    overflow: no-display;
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;

}


html {
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
}

body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    bottom:0;
    top:0;
    left:0;
    right:0;
    position:absolute;
    height: auto;
    max-height: 100%;

}

mce-fullscreen {
    z-index: 3000;
}


